In Secure mode, force clients to present client certificate?

Hi,

I have a question around TLS with Client Certificates - Currently there is no way to specify CA and verify Client Certificate against this CA. Do you see a valid usecase for flag that forces Client to present its X.509 certificate?

Thank you,

Good one. Yes we’d like to support mutual tls at some point. Do you have a use-case?

In terms of usecase, mTLS is common in many enterprises and used heavily in HTTPS protocol. Recently SPIFFE - https://spiffe.io/ standard is an attempt to add identity to workloads using X.509 certificates - but even a regular X.509 is used today to identify the client.

So an FTPS client presents the cert and the username is same as CN in cert, and no password... 

Does this help?

@hannesdejager - hello again - to enable mTLS, would this be something at the `surface` or something more deeper (e.g. involving PAM).

I am new to Rust hence was wondering if this falls under `good-first-issue` for me to attempt this.

Thank you for the guidance! 

@hannesdejager - I was going thru the FTPS RFC - https://tools.ietf.org/html/rfc4217#page-17 and am hoping to contribute the `use-case 12.2` - `TLSneg()` with Client Certificates and then `USER` name is same or some-part of the `CN` that is part of the Client X.509 certificate presented.

What do you think?



@ramkumarkb thanks for offering to help. Let me read the rfc too again then I’ll revert back to you. The change will be in the lib itself, so not involving PAM or something like that. We use the rustls crate, will have to see how to configure it

@hannesdejager - I spent some more time to understand the current FTPS implementation in unFTP, using `curl` as FTPS client. The output is as below and things are lot clearer (to me) now.

The section 10.1 of the RFC gives us some clues - https://tools.ietf.org/html/rfc4217#section-10.1 - It says that `The TLS negotiation completed successfully, but the server decides that the session parameters are not acceptable (e.g., Distinguished Name in the client certificate is not permitted to use the server)`

The main question I have is whether mTLS needs to be implemented in both the `Control` and `Data` connections or only in `Control` ? I am guessing it is both... ?

Thanks again, for your time on this.

```
[mickeymouse@getafix:[IT] ~/curl-poc]$ ./curl-amd64 -v --user 'obelix:' --ftp-ssl --ftp-ssl-reqd --cacert /opt/pki/etc/tca/ca_combined.pem --ftp-pasv --disable-epsv -T test-ftps.txt ftp://getafix.hostname.net:2121/foldername/
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0*   Trying ip.address.masked:2121...
* Connected to getafix.hostname.net (ip.address.masked) port 2121 (#0)
< 220 Welcome to unFTP
> AUTH SSL
< 504 Auth SSL not implemented
> AUTH TLS
< 234 Upgrading to TLS
* successfully set certificate verify locations:
*  CAfile: /opt/pki/etc/tca/ca_combined.pem
*  CApath: none
} [5 bytes data]
* TLSv1.3 (OUT), TLS handshake, Client hello (1):
} [512 bytes data]
* TLSv1.3 (IN), TLS handshake, Server hello (2):
{ [122 bytes data]
* TLSv1.3 (IN), TLS handshake, Encrypted Extensions (8):
{ [10 bytes data]
* TLSv1.3 (IN), TLS handshake, Certificate (11):
{ [5828 bytes data]
* TLSv1.3 (IN), TLS handshake, CERT verify (15):
{ [264 bytes data]
* TLSv1.3 (IN), TLS handshake, Finished (20):
{ [52 bytes data]
* TLSv1.3 (OUT), TLS change cipher, Change cipher spec (1):
} [1 bytes data]
* TLSv1.3 (OUT), TLS handshake, Finished (20):
} [52 bytes data]
* SSL connection using TLSv1.3 / TLS_AES_256_GCM_SHA384
* Server certificate:
*  subject: DC=env; DC=GROUP; OU=Servers; CN=getafix.hostname.net
*  start date: Jun 11 06:46:20 2020 GMT
*  expire date: Jun 11 06:46:20 2022 GMT
*  subjectAltName: host "getafix.hostname.net" matched cert's "getafix.hostname.net"
*  issuer: DC=my; DC=own; DC=internal; DC=earth; CN=Issuing CA
*  SSL certificate verify ok.
} [5 bytes data]
> USER obelix
{ [5 bytes data]
< 331 Password Required
} [5 bytes data]
> PASS 
{ [5 bytes data]
< 230 User logged in, proceed
} [5 bytes data]
> PBSZ 
{ [5 bytes data]
< 200 OK
} [5 bytes data]
> PROT P
{ [5 bytes data]
< 200 PROT OK. Securing data channel
} [5 bytes data]
> PWD
{ [5 bytes data]
< 257 "/"
* Entry path is '/'
} [5 bytes data]
> CWD foldername
* ftp_perform ends with SECONDARY: 0
{ [5 bytes data]
< 250 Successfully cwd
} [5 bytes data]
> PASV
* Connect data stream passively
{ [5 bytes data]
< 227 Entering Passive Mode (10,165,197,162,209,26)
* Skip ip.address.masked for data connection, re-use getafix.hostname.net instead
*   Trying ip.address.masked:53530...
* Connecting to ip.address.masked (ip.address.masked) port 53530
* Connected to getafix.hostname.net (ip.address.masked) port 2121 (#0)
} [5 bytes data]
> TYPE I
{ [5 bytes data]
< 200 Always in binary mode
} [5 bytes data]
> STOR test-ftps.txt
{ [5 bytes data]
< 150 Ready to receive data
* Doing the SSL/TLS handshake on the data stream
* successfully set certificate verify locations:
*  CAfile: /opt/pki/etc/tca/ca_combined.pem
*  CApath: none
} [5 bytes data]
* TLSv1.3 (OUT), TLS handshake, Client hello (1):
} [512 bytes data]
* TLSv1.3 (IN), TLS handshake, Server hello (2):
{ [122 bytes data]
* TLSv1.3 (IN), TLS handshake, Encrypted Extensions (8):
{ [10 bytes data]
* TLSv1.3 (IN), TLS handshake, Certificate (11):
{ [5828 bytes data]
* TLSv1.3 (IN), TLS handshake, CERT verify (15):
{ [264 bytes data]
* TLSv1.3 (IN), TLS handshake, Finished (20):
{ [52 bytes data]
* TLSv1.3 (OUT), TLS change cipher, Change cipher spec (1):
} [1 bytes data]
* TLSv1.3 (OUT), TLS handshake, Finished (20):
} [52 bytes data]
* SSL connection using TLSv1.3 / TLS_AES_256_GCM_SHA384
* Server certificate:
*  subject: DC=env; DC=GROUP; OU=Servers; CN=getafix.hostname.net
*  start date: Jun 11 06:46:20 2020 GMT
*  expire date: Jun 11 06:46:20 2022 GMT
*  subjectAltName: host "getafix.hostname.net" matched cert's "getafix.hostname.net"
*  issuer: DC=my; DC=own; DC=internal; DC=earth; CN=Issuing CA
*  SSL certificate verify ok.
} [5 bytes data]
* We are completely uploaded and fine
* Remembering we are in dir "foldername/"
} [5 bytes data]
* TLSv1.3 (OUT), TLS alert, close notify (256):
} [2 bytes data]
< 226 File successfully written
100    14    0     0  100    14      0    264 --:--:-- --:--:-- --:--:--   264
* Connection #0 to host getafix.hostname.net left intact
```

@ramkumarkb It will have to be on both channels and we’ll have to check that the exact same certificate is presented between the 2, perhaps by checking the cert hash os something. 

As for the curl output you posted. I’m not seeing the `—cert` option being used there which from what I understand will send the client certificate. You do specify the `—ca-cert` option which curl will of course use to verify the server certificate but think you’ll need to former to initiate mtls. On the server side we’ll need a trinary setting too: 

- 1. require client certificate
- 2. allow client certificate
- 3. don’t allow client certificate

I’m on my phone currently will only be in front of the computer tonight. 

The main question for me would be how to make this extensible i.e. how to change the libunftp Authenticator trait to know about the certificate. Are you looking at unFTP only or also libunftp? The bulk of the work will be in libunftp. I’ll look at this later tonight (gmt+2)

@hannesdejager - Thank you for providing your feedback so quickly!

Yes, I did not add the `--cert` in the `curl` bcos today `mTLS` is not supported in `unFTP`. If I [understand `mTLS`](https://developers.cloudflare.com/cloudflare-one/identity/devices/mutual-tls-authentication) correctly, the Server has to ask the Client to present its cert as part of the `mTLS` handshake. So even if I provide it, it will not be used today (I think) as `unFTP Server` will not ask for it. Am I correct?

Yes, apart from the trinary setting that you have mentioned, I was thinking along the lines of `minimal-viable-product` first - e.g.  a new`jsonfile_auth_tls` that has the list of whitelisted CNs and their `username` - something along the lines of  the flow described in the RFC section - https://tools.ietf.org/html/rfc4217#section-12.2 

```
[
  {
    "CN": "getafix.hostname.net",
    "username": "getafix"
  },
  {
    "CN": "Obelix (obelix)",
    "username": "obelix"
  }
]
```

This also means adding a new ENV parameter for CA file - e.g. `unFTP_FTPS_CA_FILE`

Yes, I am trying to learn `rust-lang` and at the same time reading the `libunftp` code also... wish me luck :-) !



@ramkumarkb Putting the CNs to match in a JSON would make sense although not sure a new one is needed. Its probably a natural extension to the current [unftp-auth-json](https://github.com/bolcom/libunftp/tree/master/crates/unftp-auth-jsonfile). We’re adding encryption there also currently in [this PR](https://github.com/bolcom/libunftp/pull/328) by the way. 

I’d probably go for a env variable that points to a trust store, since one would probably want to put a couple of cert chains in there e.g. UNFTP_FTPS_TRUST_STORE. Thanks for all the ideas 💡 it helps arriving at a good solution

@ramkumarkb, here is a POC first version implementation of mutual TLS in libunftp: https://github.com/bolcom/libunftp/pull/335

I'll probably wrap that up and release. Then we should build on that and allow custom ways of checking the certificate

@hannesdejager - my sincere apologies for the delay in this reply. Thank you for the merge - if I understand this implementation, it will verify the Client Certificate against the CA configured in the Server (& therefore it needs the password). 

Also, would there be a way for me to test this quickly our in my environment?

Thank you again!

> Also, would there be a way for me to test this quickly our in my environment?

Hi. Yes you can just generate a self signed CA cert, sign a new cert with it and point unFTP to the self signed CA cert. 

I tested with this script:

```sh
#!/bin/bash

# Root Key and Cert
openssl genrsa -out unftp_client_ca.key 2048
openssl req -new -x509 -days 365 \
	-key unftp_client_ca.key \
        -subj '/CN=unftp-ca.mysite.com/O=mysite.com/C=NL' \
	-out unftp_client_ca.crt

# Client private key
openssl genrsa -out client.key 2048

# CSR
openssl req -new -sha256 \
    -key client.key \
    -subj '/CN=unftp-client.mysite.com/O=mysite.com/C=NL' \
    -reqexts SAN \
    -config <(cat /etc/ssl/openssl.cnf \
        <(printf "\n[SAN]\nsubjectAltName=DNS:localhost")) \
    -out client.csr

# Sign cert with own CA
openssl x509 -req \
  -in client.csr \
  -CA unftp_client_ca.crt \
  -CAkey unftp_client_ca.key \
  -CAcreateserial \
  -extfile <(printf "subjectAltName=DNS:localhost") \
  -out client.crt \
  -days 1024 \
  -sha256

# Show CA cert
openssl x509 -text -noout -in unftp_client_ca.crt

# Show client cert
openssl x509 -text -noout -in client.crt
```

Run unFTP passing the 2 new arguments:

```sh
...
  --ftps-client-auth=require
  --ftps-trust-store=/Users/xxx/unftp/unftp_client_ca.crt
```

and test with curl:

```sh
curl -v \
  --insecure \
  --user 'user1:pass' \
  --ftp-ssl --ssl-reqd \
  --ftp-pasv --disable-epsv \
  --cacert unftp_client_ca.crt \
  --cert client.crt \
  --key client.key \
  --cert-type PEM \
  --pass '' \
  --tlsv1.2 \
  --cert-type PEM \
  ftp://localhost:2121/
```


@hannesdejager - Thank you for the updates and the information. I was referring to a build that I can download and test (since I have not built unFTP myself... as yet). Anyway, for me to work on the JSON changes (to verify the CN in the Client Cert against a whitelist) - would this be the file to modify - 
`https://github.com/bolcom/libunftp/blob/master/crates/unftp-auth-jsonfile/src/lib.rs` 

Generally, I was exploring the surface of the change to enable me to make these changes and give you a PR. 

@ramkumarkb A quick one on the build: You can follow the instructions and links in the README. It points to binaries available from the Releases.

That would indeed be the file to modify. The challenge here is to get the certificate information to the authenticator implementation. Currently the [Authenticator](https://docs.rs/libunftp/0.17.3/libunftp/auth/trait.Authenticator.html) trait only accepts a username and password. The certificate needs to be worked in here somehow. The other challenge is the different times when TLS/certificate authentication happens vs when user/password authentication happens. Then the TLS certificate is received you don't know the username yet. This will need a bit of thinking.

@hannesdejager - Sorry, did not realize that you have made a release. I will test this first in Linux and then in Windows.

On the solution design - I was hoping that we will follow the RFC - section 12.2 - (just needs the X.509 Client Certificate and a `username`) -  https://datatracker.ietf.org/doc/html/rfc4217#section-12.2 

So, if expanding on some of our earlier discussions, one proposed format for the changing the JSON would be something like below. If TLS is selected, i.e. `--ftps-client-auth=require` , then the code checks `tlsAuth` part of the JSON.  What do you think?

```
{
"tlsAuth": [
  {
    "CN": "getafix.hostname.net",
    "username": "getafix"
  },
  {
    "CN": "Obelix (obelix)",
    "username": "obelix"
  }
],
"basicAuth": [
 // Existing JSON
]
}
```
=====

```
12.2.  Establishing a Protected Session Without a Password Request
       (The TLS Authentication is Sufficient)

              Client                                 Server
     control          data                   data               control
   ====================================================================

                                                                socket()
                                                                bind()
     socket()
     connect()  ----------------------------------------------> accept()
               <----------------------------------------------  220
     AUTH TLS   ---------------------------------------------->
               <----------------------------------------------  234
     TLSneg()  <----------------------------------------------> TLSneg()
     PBSZ 0     ---------------------------------------------->
               <----------------------------------------------  200
     PROT P     ---------------------------------------------->
               <----------------------------------------------  200
     USER fred  ---------------------------------------------->
               <----------------------------------------------  232
```

@ramkumarkb Perhaps the easiest is to have some remote screen sharing on thus. I'm happy to do that with you. I think you're 8 hours ahead. Pop me an email at hannes.de.jager at gmail.com

@ramkumarkb I've now implemented section 12.2 of RFC-4217 in libunftp here: https://github.com/bolcom/libunftp/pull/358.

Once this is merged what you want to do should be easy and isolated to the JSON file authenticator: https://github.com/bolcom/libunftp/blob/master/crates/unftp-auth-jsonfile/src/lib.rs

I would want us to not to split it out like this:

```json
{
"tlsAuth": [
  {
    "CN": "getafix.hostname.net",
    "username": "getafix"
  },
  {
    "CN": "Obelix (obelix)",
    "username": "obelix"
  }
],
"basicAuth": [
 // Existing JSON
]
}
```

but continue along with the current way:

 ```json
[
   {
    "username": "alice",
    "pbkdf2_salt": "dGhpc2lzYWJhZHNhbHQ=",
    "pbkdf2_key": "jZZ20ehafJPQPhUKsAAMjXS4wx9FSbzUgMn7HJqx4Hg=",
    "pbkdf2_iter": 500000
  },
  {
    "username": "bob",
    "password": "not so secure"
  },
  {
    "username": "getafix"
    "CN": "getafix.hostname.net",
  }
]  
 ```

i.e. allowing the client cert auth to be freely mixed with the password auth.

@hannesdejager - Thank you very much for the implementation. Yes, let me try the pointers that you have mentioned and if am successful, I will give you a PR. 

2 Questions - 

1. Am i correct to assume that these changes all are related to `libunftp` and once the `unFTP` references the new crate, then it will work?
2. I have not read the RFC related to data-channel. From what you say, am I right to infer that data-channel will be on its own TLS Session, once the mTLS in the control channel is completed?

Thank you once again!

@ramkumarkb 

1. Yes
2. The data channel will be on its own session but if the client supports resumption then it won't do the full TLS handshake but instead be a resumption of the control channel session.

Fully implemented and available in [v0.12.11](https://github.com/bolcom/unFTP/releases/tag/v0.12.11).